@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html{
    scroll-behavior: smooth;
    scrollbar-width: 2px;


}
body{
    background-color: black;
    margin: 0px;
}
nav{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 20;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-size: 19px;
    
}
nav a:hover{
    color: #ff0000;
    opacity: 100%;
}

#HOME{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#HOME h1:nth-of-type(1){
    color: #ff0000;
    font-family: "Instrument Serif";
    letter-spacing: 7px;
    font-size: 158px;
    font-weight: lighter;
    text-shadow: 0px 36px 4px rgba(255, 0, 0, 0.343);
    

}
#HOME h1:nth-of-type(2){
    color: #ff0000;
    position: absolute;
    font-family: "Instrument Serif";
    letter-spacing: 7px;
    font-size: 158px;
    font-weight: lighter;
    text-shadow: 0px 3px 45px rgb(255, 0, 0);
    

}
#HOME h1{
    animation: glow 3s ease 0.5s 1 forwards;
    text-decoration: line-through;
    text-decoration-thickness:200px ;

}
#HOME a{
    position: absolute;
    top: 80%;
    color: white;
    text-decoration: none;
    font-family:  "Inria Sans";
    border: 2px dashed #ffffff;
    padding: 10px;
    border-radius: 5px;
    animation: bounce 2s ease 3s alternate forwards ;
    opacity: 0%;
}
#HOME a:hover{
    color: #ff0000;
    border: 2px dashed #ff0000;
}
#SKILLS{
    margin-top: 150px;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 104px;
    position: relative;

    
}
.autoblur{
    color: #ffffff;
    font-family: "Instrument Serif";
    font-size: 90px;
    animation:  autoblurtop both;
    animation-timeline: view();
    margin-bottom: 20px;

}
.autoshow{
    color: #ffffff;
    position: absolute;
    height: 90%;
    width: 50vw;
    top: -30px;
    right: 104px;
    /* border: 2px solid white; */
    animation: autoshowanimation;
    animation-timeline: view();
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(5,20%);
    gap: 10px;
    

}
.skill-item{
    border: 2px solid rgb(231, 231, 231);
    animation: autoshowanimation;
    animation-timeline: view();
}
.skill-item{
    
    animation: autoblurtop both;
    animation-timeline: view();
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item img{

  filter: invert(13%) sepia(100%) saturate(7481%) hue-rotate(0deg) brightness(103%) contrast(108%);

    height: 80%;
    width: 80%;
    object-fit: contain;
}
#abtme{
    min-height: 150vh;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: 25% 25% 40%;
    padding: 6%;
    box-sizing: border-box;
    gap: 10px;
}
.abt-items{
    color: #ffffff;
    background-color: #000000;
    animation: autoshowanimation;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
    /* border: 2px solid white; */
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
    flex-wrap: wrap;
    

}

.abt-items p:nth-of-type(1){
}
/* #abtme div{
    border: 2px solid red;
    padding: 5px; 

} */
#profilepic{
    grid-row-start: 1 ;
    grid-row-end: 3;
}
.abt-items:nth-of-type(1) img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.abt-items img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: autoshowanimation;
    animation-timeline: view();
}
.abt-items p{
    animation: autoshowanimation;
    animation-timeline: view();
}
#award img{
    padding: 10px;
    border: 2px dashed white;
    
    
}
#PROJECTS{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 600px;
    gap: 30px;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 200px;

}
.p-items{
    background-color: #ff0000;


    
}
.p-items:nth-of-type(odd){
    animation: gridslideL;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.p-items:nth-of-type(even){
    animation: gridslideR;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}





@keyframes autobluranimation {
    100%{
        filter: blur(40px);
    }60%,65%{
        filter: blur(0px);
    }
}
@keyframes autoblurtop {
    
    0%,100%{
        filter:blur(40px)
    }48%,50%{
        filter: blur(0px);
    }
}
@keyframes glow {
    0%{
        
        text-decoration: line-through;
        text-decoration-thickness:200px ;
    }
    
    
    100%{
        opacity: 100%;
        text-decoration: line-through;
        text-decoration-thickness:3px ;


    }
}
@keyframes bounce {
    0%{
        opacity: 100%;
    }
    

    
    50%{
        transform: translateY(-20px);
        opacity: 10%;
    }
    
    100%{
        opacity: 50%;
    }
}
@keyframes autoshowanimation{
    from{
        opacity: 0;
        transform: translateY(50px) ;
    }to{
        opacity: 1;
        transform: translateY(0) ;
    }

}
@keyframes gridslideL {
    0%{
        transform: translateX(-600px);
    }100%{
        transform: translateX(0px);
    }
    
}
@keyframes gridslideR {
    0%{
        transform: translateX(600px);
    }100%{
        transform: translateX(0px);
    }
    
}